# Managed by Ansible - manual changes will be lost

echo "
    Welcome to: {{ ansible_fqdn }} / {{ ansible_default_ipv4.address }}
    Running:    {{ ansible_system }} {{ ansible_distribution }} {{ ansible_distribution_version }} / {{ ansible_kernel }}
    On a:       {{ ansible_product_name }}

    Hardware:
      CPU:     {{ ansible_processor_cores }}x {{ ansible_processor[2] }}
      MEM:     {{ ansible_memtotal_mb }} MB
      SWAP:    {{ ansible_swaptotal_mb }} MB"
echo "      USEDMEM: $(free -m | grep Mem | awk '{print $3}') Mb
      UPTIME:  $(uptime -p | cut -c4-)
"
